@import url('http://okame.ru/assets/fonts/OpenSans/OpenSans.css');
@import url('http://okame.ru/assets/fontawesome/font-awesome.min.css');
body,html {
  background: #fefefe url('http://okame.ru/assets/img/bg.png') repeat;
  font: 13px "OpenSans";
  color: #444;
  max-width: 750px;
  margin: 20px auto;
}
a {color: #1abc9c;text-decoration: none;}
a:hover {color: #1c1c1c;}
header {
 padding: 15px;
 color: #fff;
 text-align: center;
}
h1 {font-size: 20px;}
section {
  background: #ecf0f1;
  color: #444;
  padding: 15px;
}
.cntc {
  width: 60%;
  margin: 20px auto;
}
footer {
  background: #2c3e50;
  padding: 20px;
}
